
extends layout

block content

h1 Welcome to Research Repository System
    h2 Imagine research findings buried like hidden gems, scattered across individuals&apos; laptops and dusty shelves.
      br Accessing them was a treasure hunt, often ending in frustration. This fragmented landscape hindered progress, 
      br duplication of effort was rampant, and valuable insights remained locked away. We knew there had to be a better way.
        h3 Our story began with a vision: a central repository where research could be shared, discovered, and built upon seamlessly. 
          br A platform fostering collaboration, transparency, and accelerated scientific progress. With this passion, we embarked on 
          br building this system, brick by digital brick. Today, it stands as a testament to collective effort, a vibrant hub where
          br researchers connect, share their findings, and propel the boundaries of knowledge. We invite you to join us on this
          br exciting journey, to contribute your discoveries, and unlock the full potential of collaborative research.
          
