
extends layout

block content

    h1 Welcome to Research Repository System
        h2 Imagine research findings buried like hidden gems, scattered across individuals, laptops and dusty shelves. Accessing them was a treasure hunt, often ending in frustration. This fragmented landscape hindered progress, duplication of effort was rampant, and valuable insights remained locked away. We knew there had to be a better way.
                